{% extends 'layout.html' %}
{% block title %} 
    Product Cards
{% endblock title %}

{% block content %}
    <h1 class="text-center mt-3">Hello Rukmani Abhishek</h1>
    <div class="container-fluid mt-3">
        <div class="row mx-auto">
            <div class="card mx-auto mb-4" style="width:18rem;margin-top:1rem;">
                <div class="card-body">
                    <div class="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}